

:root {
  --gray-50: #656266;
  --gray-100: #B5B5B5;
  --gray-200: #303030;
  --gray-300: #1A1A1A;
  --stroke-s50: #DBDBDB;
  --stroke-s100: #E1E1E1;
  --stroke-s200: #616161;
  --font-light: #E3E3E3;
  --font-dark: #323232;
  --hover: #F1F1F1;
  --hover-btn: #E7E7E7;
  --focused: #005BD3;
  --accent: #36FBA1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
}

html {
  font-size: 100%;
  font-family: 'Inter', sans-serif;
  transition: all 1s linear;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  object-fit: cover;
}


.btn {
  display: flex;
  padding: 6px 12px;
  align-items: center;
  gap: 8px;
} 



.text-12 {
  font-size: 12px;
  font-style: normal;
  line-height: 130%;
}

.text-13 {
  font-size: 13px;
  font-style: normal;
  line-height: 140%; 
}

.text-14 {
  font-size: 14px;
  font-style: normal;
  line-height: 140%;
}


/* HEADER STYLES */
header {
    position: relative;
  display: flex;
  padding: 12px 16px;
  align-items: center;
  justify-content: space-evenly;
  gap: 8px;
  background-color: rgb(26,26,26);
}

@media screen and (min-width :800px){
  header {
  justify-content: space-between;
  padding-right: 2rem;
  padding-left: 2rem;

}
.logo a img{
  width: 104.868px;
  height: 30px;

}

}

/* logo */
.logo img{
  width: 32px;
  height: 32px;
}



/* form search */
.search-box {
  display: flex;
  height: 32px;
  padding: 8px;
  align-items: center;
  gap: 6px;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1px solid var(--stroke-s200);
  background: var(--gray-200);
  max-width: 480px;
}

.search-box:hover {
  border: 1px solid var(--stroke-s100);
}

.search-box.focus {
  border: 2px solid #FFF;
}

.search-box--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
}

.search-box--search {
  width: 100%;
  border: none;
  background-color: inherit;
  outline: none;
  color: var(--gray-100);
  cursor: pointer;
}

.notify-container{
  display: flex;
  align-items: center;
  gap: 5px;
 
}
.notification {
    padding: 2px;
    align-items: center;
    border-radius: 5px;
    background: #303030;
    border: none;
    outline: none;
    cursor: pointer;                
}

.notify-container .notification svg{
  width: 30px;
  
}
.notification:hover, .dc-container:hover{
  background: #616161;
}

.notification.active, .dc-container.active {
  background: #656266;
}

.notification:focus, .dc-container:focus{
    background: var(--grey-grey-50, #656266);
    box-shadow: 0px 0px 0px 3px #005BD3, 0px 0px 0px 1px #000;
}


.dc-container{
  border-radius: 8px;
  padding: 5px;
  background: #303030;
  display: flex;
  border-radius: 8px; 
  justify-content: flex-start; 
  align-items: center;
  gap: 8px; 
  outline: none;
  border: none;
}

.dc-text{
  display: none ;
  padding-left: 8px;
  color: #E3E3E3; 
  font-size: 12px; 
  font-weight: 500; 
  line-height: 15.60px; 
  word-wrap: break-word;
}
.dc-logo{
   padding: 5px; 
   background: #36FBA1; 
   border-radius: 6px; 
   overflow: hidden; 
   justify-content: center; 
   align-items: center; 
   display: flex;
}
.dc-logo div{
  text-align: center; 
  color: rgba(0, 0, 0, 0.40); 
  font-size: .85rem;
  font-weight: 500; 
  line-height: 15.60px; 
  word-wrap: break-word"
}

@media screen and (min-width :800px){
    
    .notify-container .notification svg{
    width: 30px;
    }
    .dc-container{
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    .dc-text{
    display: inline-block ;
    }
}

 .alertBox{
  visibility: hidden;
  position: absolute;
  right: 0;
  margin-right: 1rem;
  width: 20rem;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  border-radius: 14px;
  border: 1px solid  #DBDBDB;
  background:  #FFF;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
 }

.alertHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  margin-bottom: 1rem;
}
.alertBotton-box{
    display: flex;
    align-items: center;
}
.alertBox--btns{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
   
    padding: 5px;
}
.alertBox--btns:hover{
    border-radius: 6px;
    background: #E7E7E7;
}

.alertBox--btns.active {
    border-radius: 6px;
    background: #E0E0E0;
}

.alertBox--btns:focus{
    border-radius: 6px;
    border: 2px solid var(--states-focused, #005BD3);
    background: #FFF;
    }

.alertHeader p{
  color:  #303030;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
.alertItems{
  display: flex;
  padding: 1rem;
  align-items: center;
  background:  #F1F1F1;
}
.alertItems p{
color:  #303030;
text-align: center;
font-size: 13px;
font-style: normal;
font-weight: 600;
line-height: 140%; 
}

.menuContainer{
  position: absolute;
  visibility: hidden;
  display: flex;
  width: 20rem;
  padding: .8rem;
  flex-direction: column;
  align-items: flex-start;
  gap: .5rem;
  border-radius: 14px;
  border: 1px solid  #DBDBDB;
  background:  #FFF;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  right: 0;
  margin-right: .6rem;
}
.menuContainer li  {
    width: 100%;
    padding: .5rem;
   
}

.menuContainer li:hover{
    border-radius: 6px;
    background: #E7E7E7;
}
.menu-ctg-two:hover, .menu-ctg-three:hover, .menu-ctg-one:hover {
     background: none !important;
     border-radius: 0;
}
.menu-ctg-two:focus, .menu-ctg-three:focus, .menu-ctg-one:focus {
     
    border: none;
    background: none !important;
    border-radius: 0;
}


.menuContainer li:focus{
    border-radius: 6px;
    border: 2px solid #005BD3;
    background: #FFF;
    }



.menuContainer ul{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .3rem;
}

.menuContainer li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    
}
.menuContainer li a div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-top-item{
    display: flex;
    padding: 4px 12px 4px 8px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    background:  #F1F1F1;
}
.topMenuItem{
  display: flex;
  flex-direction: row;
  padding: 4px 12px 4px 8px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: .5rem;
  
 }

 .topMenuDc{
  display: flex;
  gap: .5rem;
  align-items: center;
  padding: 4px 12px 4px 8px;
  font-weight: 600;
  font-size: 13px;
  font-style: normal;
  line-height: 140%; 
  
 }

.topMenuDCLogo p{
  text-align: center; 
  color: #303030; 
  font-size: .9rem;
  font-weight: 500; 
  line-height: 15.60px; 
}

.topMenuDCLogo{
  display: flex;
  padding: .5rem;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #36FBA1;
  
}



hr{
  width: 100%; 
  height: 100%; 
  border: 0.75px
 #E1E1E1 solid
}






.ctaContainer{
  display: flex;
  padding: 12px 8px 12px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  background-color: rgb(26,26,26);
  margin: 1.4rem 0 0 0   ;
}

.cta{
  display: flex;
}

.cta p {
  color: #E3E3E3;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
}

.cta button svg{
  width: 30px;
  height: 30px;
}
.ctaButton{
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  background: #FFF;
  box-shadow: 0px -1px 0px 0px #B5B5B5 inset;
  padding:  12px;
}
.cta button{
  background-color: transparent;
  border: none;
  outline: none;
 
}
.menuContainer a{
  text-decoration: none;
  color: #303030;
}

.ctaButton a p{
  color:#323232;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  margin: 0;
  text-decoration: none;
}
.ctaButton a{
  text-decoration: none;
}
.ctaButton:hover {
  background: #F7F7F7;
}
.ctaButton:active {
  background: #F7F7F7;
  box-shadow: 0px 2px 1.5px 0px #E2E2E2 inset;
}
.ctaButton:focus {
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: var(--White, #FFF);
    box-shadow: 0px 0px 0px 3px #005BD3, 0px 0px 0px 1px #FFF, 0px -1px 0px 0px #B5B5B5 inset;
}

.ctaDismiss:hover {
    border-radius: 8px;
    background: var(--font-mid-2, #616161);

}
.ctaDismiss:active {
    border-radius: 8px;
    background: var(--grey-grey-50, #656266);
}
.ctaDismiss:focus {
   border-radius: 8px;
background: var(--grey-grey-50, #656266);
box-shadow: 0px 0px 0px 3px #005BD3, 0px 0px 0px 1px #000;
}




.ctaCancelButton{
  display: none;
}


.mediumText{
font-size: 14px;
font-style: normal;
font-weight: 600;
}
.smallText{
font-size: 13px;
font-style: normal;
font-weight: 400;
}
.lightText{
font-size: 12px;
font-style: normal;
font-weight: 400;
}

@media screen and (min-width :800px){
 
main{
  display: flex;
  align-items: center;
  align-content: center;
  gap: .4rem;
  flex-direction: column;
  flex-wrap: wrap;
}
.ctaContainer{
  border-radius: .75rem;
  flex-direction: row;
  justify-content: space-between;
  width: 55rem;
  align-items: center;

}

.ctaCancelButton{
  display: inline-block;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 2px;
  cursor: pointer;
  
}
.ctaCancelButton svg{
  width: 30px;
  height: 30px;
}

.ctaButtonGroup{
  display: flex;
  gap: .5rem;

}

.cta button{
  display: none;
}
.setupContainer {
  border-radius: .75rem;
  width: 55.5rem;
}
 .alertBox{
  width: fit-content;
 
 }

}

/* onboarding guide styles  */
.setup-container {
 
  display: grid;
  gap: 16px;
  padding: 8px;
  border: 1px solid var(--stroke-s50);
  background: #FFF;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
  margin-top: 1.4rem;
}

.setup-container__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  padding: 8px;
}

.setup-container__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
}

.setup-container__description--headline{
  color: var(--gray-200);
  font-weight: 600;
  margin-bottom: 4px;
}

.setup-container__description--text {
  color: var(--gray-200);
  font-weight: 400;
}

.setup-container__progress {
  display: flex;
  align-items: center;
  gap: .5rem;
  
}

 progress {
  width: 72px;
  height: 4px;
  border-radius: 10px;
  background-color: #E3E3E3;
} 

progress::-webkit-progress-bar {
  background-color: #E3E3E3;
  border-radius: 10px;
}

progress::-webkit-progress-value {
  background-color: #1A1A1A;
  border-radius: 10px;
transition: all 400ms ease;
} 


.setup-container__progress_text {
  width: 90px;
  color: var(--gray-200);
  font-weight: 400;
}


.setup-container__up_btn,
.setup-container__down_btn {
  display: flex;
  padding: 4px;
  align-items: flex-start;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  background: inherit;
  width: 28px;
  height: 28px;
}

.setup-container__up_btn:hover,
.setup-container__down_btn:hover {
  background: var(--hover-btn);
}

.setup-container__up_btn {
  display: none;
}

@media screen and (min-width: 800px) {
  .setup-container {
    border-radius: 18px;
    width: 55rem;
  }

  .setup-container__up_btn:focus,
  .setup-container__down_btn:focus {
    box-shadow: 0px 0px 0px 3px var(--focused), 0px 0px 0px 1px #000;
  }
}


/* accordion dropdown styles*/
.accordion {
  display: none;
  gap: 2px;
}

.accordion__list {
  position: relative;
}

.accordion__content {
  background: transparent;
  padding: 8px 8px 12px;
  border-radius: 10px;
}

.accordion__content[open] {
  background-color: #F3F3F3;
}

.accordion__content summary {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  margin-bottom: 12px;
  list-style-type: none;
}

.accordion__content summary::marker,
.accordion__content summary::-webkit-details-marker {
  display: none;
}

.sr-only {
  position: absolute;
  left: -1200px;
}

.accordion__content label {
  cursor: pointer;
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  z-index: 20;
}

.accordion__content--check {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0;
}

.accordion__content label svg.default{
  opacity: 1;
}
.accordion__content label:hover svg.hover{
  opacity: 1;
}
.accordion__content label:hover svg.default{
  opacity: 0;
}
.accordion__content label:active svg.focus {
  opacity: 1;
}

.accordion__content summary:focus svg.focus {
  opacity: 1;
}


[data-completed=true] svg.loader{
  transition-property: transform, opacity;
  transition-duration: 400ms;
  transition-timing-function: linear;
  transform: rotate(360deg);
  opacity: 1;
  animation: fadeInOut 450ms linear 1 forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


[data-completed=true] svg.checked {
  transition-property: opacity;
  transition-delay: 500ms;
  transition-timing-function: linear;
  opacity: 1;
}

[data-completed=true] svg.default{
  opacity: 0 !important;
}


[data-completed=true]:hover svg.hover{
  opacity: 0 !important;
}

.accordion__detail--heading {
  color: var(--gray-200);
  font-weight: 500;
}

.accordion__content[open] .accordion__detail--heading {
  font-weight: 600;
}

.accordion__detail--content {
  margin-left: 2rem;
}

.accordion__detail--text {
  margin-bottom: 1rem;
  color: var(--stroke-s200);
}

.accordion__detail--link {
  font-weight: 500;
  color: var(--focused);
}

.accordion__detail--button {
  border-radius: 6px;
  border-top: 1.5px solid rgba(255, 255, 255, 0.20);
  border-right: 1.5px solid rgba(255, 255, 255, 0.20);
  border-left: 1.5px solid rgba(255, 255, 255, 0.20);
  background: #404040;
  box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333, 0px 2px 0px 0px #000;
  padding: 6px 12px;
  color: #F6F3F6;
  font-weight: 600;
  cursor: pointer;
}

.accordion__detail--button:hover {
  background: #2A2A2A;
}

.accordion__detail--button:active {
  background: #2B2B2B;
  box-shadow: 0px 0px 0px 1.5px #333, 0px 3px 0px 0px #000 inset;
}

.accordion__detail--button:focus {
  background: #404040;
  box-shadow: 0px 0px 0px 5px var(--focused), 0px 0px 0px 3px #FFF, 0px 0px 0px 1.5px #333;
}

.accordion__detail--upload {
  padding: 6px 12px;
  margin-left: 1rem;
  border: none;
  border-radius: 6px;
  background: inherit;
  color: var(--font-dark);
  font-weight: 600;
  cursor: pointer;
}

.accordion__detail--upload:hover {
  background: var(--stroke-s200);
}

.accordion__detail--upload:active {
  background: #E0E0E0;
}

.accordion__detail--upload:focus {
  border: 2px solid  var(--focused);
  background: #FFF;
}

.accordion__detail--img {
  display: none;
  -webkit-mask-image: linear-gradient(to bottom, rgba(255,255,255,1) 62%, rgba(255,255,255,0) 100%);
  mask-image: linear-gradient(to bottom, rgba(255,255,255,1) 62%, rgba(255,255,255,0) 100%);
}

@media screen and (min-width: 767px) {
  .accordion__detail--content {
    width: 484px;
  }
  

  .accordion__detail--img {
    display: block;
    position: absolute;
    width: 156.145px;
    height: 120px;
    top: 8px;
    right: 8px;
  }
}